.row
  .col-lg-12.category-background{style: "background-image: url(#{category.image});"}
    %h1.cat-header{class: "cat-#{category.id}"}= category.name


.products-list-box
  - if user_signed_in?
    = link_to 'Add new product in this category', new_category_product_path, class: 'btn btn-primary new-product-button'
  %h2 Products:
  - i = 0
  - category.products.each do |product|
    - if i % 4 == 0
      .row
    .col-lg-3.products-box{id: "product-#{i}"}
      = link_to category_product_path(product.category, product), class: 'product-link' do
        %h2.product-title= product.title
        = image_tag(product.thumbnail, class: 'img-circle product-img')
        .product-desc-box{id: "product-desc-product-#{i}"}
          %h3.product-price= "Price: #{product.price} $"
          %h4.product-rating= "Rating: #{product.average_rating}"
    - i = i + 1